@charset "utf-8";
@import 'fonts';
@import 'variables';
@import 'mixins';
/*---COLORS---*/
* {
	margin: 0;
	padding: 0;
}
body, html {
	width:100%;
	margin:0px;
	padding:0px;
	background: #fff;
	font-family: $main_font;
}
.wrap {
	width: 1265px;
	margin: 0 auto;
	padding: 0 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear:after {
	content: "";
	display: block;
	clear:both;
}
.visible {
	display: block !important;
}
.hidden {
	display: none !important;
}
.disabled {
	opacity: 0.4;
	pointer-events: none;
}

h2, .h2 {
	padding-bottom: 17px;
	color: $titles-color;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
h3, .h3 {
	color: #374355;
	font-size: 13px;
	font-weight: 700;
}

input[type="text"] {
	padding-left: 20px;
	font-family: $main_font;
	font-size: 13px;
	font-weight: 400;
	width: 204px;
	height: 50px;
	border: 1px solid #cad3df;
	border-radius: 3px;
	color: #333;
	text-align: left;
	outline: none;
	box-sizing: border-box;
	transition: all 0.2s linear;
	display: inline-block;
	vertical-align: top;
	-webkit-appearance:none;
	@include placeholder(#8493a8);
}
button, .button, input[type="submit"]{
	font-family: $main_font;
	width:300px;
	height:50px;
	line-height:50px;
	color: $white-color;
	font-size: 14px;
	font-weight: 700;
	background-color: #459ddd;
	position: relative;
	text-align: center;
	text-decoration: none;
	border: 1px solid #459ddd;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	transition: all 0.2s linear;
	&.pos_center {
		margin: 0 auto;
		display: block;
	}
	&:hover {
		background-color: transparent;
		color: #459ddd;
		border-color: #459ddd;

	}
	&:active {
		transform: translate3d(1px, 1px, 0);
	}
	&.button__transparent {
		margin-top: 50px;
		width: 244px;
		height: 36px;
		line-height: 36px;
		border: 1px solid #459ddd;
		border-radius: 18px;
		color: #459ddd;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 0.5px;
		background-color: transparent;
		&:hover {
			background-color: #459ddd;
			color: $white-color;
		}
	}
	&.button__budget {
		width: 218px;
		height: 36px;
		line-height: 36px;
		border-color: #bac928;
		background-color: #bac928;
		border-radius: 18px;
		text-indent: 20px;
		&:after {
			content: "";
			display: block;
			width: 12px;
			height: 16px;
			background-image: url(../img/download-ico.png);
			background-repeat: no-repeat;
			position: absolute;
			left: 18px;
			top: 50%;
			margin-top: -9px;
		}
		&:hover {
			background-color: #afbd26;
			color: $white-color;
			transform: translate3d(0, -2px, 0);
			box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.45);
		}
		&:active {
			transform: translate3d(0, 0px, 0);
			box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.1);
		}
	}
	&.project-support__button {
		@extend .button__budget;
		width: 204px !important;
		&:after {
			display: none !important;
		}
		text-indent: 0px !important;
	}
}
//SELECT 
.select-wrap {
	width: 244px;
	box-sizing: border-box;
}
//SANDWICH
.sandwich {
	cursor: pointer;
	display: none;
	width: 30px;
	height: 22px;
	position: relative;
	.sandwich__line {
		display: block;
		width: 100%;
		height: 4px;
		background-color: #459ddd;
		position: absolute;
		left: 0px;
		transition: all 0.35s linear;
		&:last-child {
			margin-bottom: 0px;
		}
		&.s1 {
			top: 0px;
		}
		&.s2 {
			top: 50%;
			margin-top: -2px;
		}
		&.s3 {
			bottom: 0px;
		}
	}
	&.active {
		z-index: 20;
		.sandwich__line {
			&.s1 {
				transform: translate3d(0,10.5px,0) rotate(135deg);
			}
			&.s2 {
				opacity: 0;
			}
			&.s3 {
				transform: translate3d(0,-8.5px,0) rotate(-135deg);
			}
		}
	}
}
/*-- HEADER --*/
.header {
	padding-top: 10px;
	border-bottom: 1px solid #e4e9ef;
	.logo {
		margin-top: 12px;
		display: block;
	}
	.nav {
		margin-top: -11px;
		margin-right: 30px;
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		.nav__item {
			padding-left: 20px;
			padding-right: 20px;
			float: left;
			&:last-child {
				padding-right: 0px;
			}
			.nav__link {
				padding: 0 0px 22px 0px;
				color: $titles-color;
				font-size: 13px;
				font-weight: 700;
				line-height: 24px;
				letter-spacing: 0.5px;
				text-decoration: none;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 3px;
					background: #459ddd;
					position: absolute;
					left: 0px;
					bottom: 0px;
					opacity: 0;
					transition: all 0.12s linear;
				}
				&.active {
					color: #459ddd;
					&:after {
						opacity: 1;
					}
				}
				&:hover {
					color: #459ddd;
					&:after {
						opacity: 1;
					}
					
				}
			}
		}
		&.active {
			opacity: 1;
			z-index: 10;
			background-color: #e4e9ef;
			transform: translate3d(0px, 0 ,0);
			transition: all 0.2s linear;
		}
	}
	.select__person-office {
		width: 185px;
		margin-top: 3px;
		margin-right: 35px;
		position: relative;
		padding-left: 45px;
		border: none;
		display: inline-block;
		vertical-align: text-bottom;
		&:before {
			content: "";
			display: block;
			width: 36px;
			height: 36px;
			background: url(../img/private-office-ico.png) no-repeat;
			position: absolute;
			left: 0px;
			top: 50%;
			margin-top: -18px;
			border-radius: 40px;
		}
		.selectBox-dropdown {
			.selectBox-label {
				width: 90% !important;
				color: #374355;
				font-weight: 700;
			}
			.selectBox-arrow {
				width: 10px;
			}
		} 
	}
	.search {
		cursor: pointer;
		margin-top: 18px;
		width: 19px;
		height: 18px;
		background: url(../img/search-ico.png) no-repeat center;
		display: inline-block;
		vertical-align: top;
	}
}
/*-- SIDEBAR --*/
.sidebar {
	padding-top: 50px;
	margin-bottom: 50px;
	width: 244px;
	.select__project-stage, 
	.select__city {
		border: 1px solid #cad3df;
		border-radius: 3px;
		.selectBox-dropdown {
			.selectBox-arrow {
				background: url(../img/select-arrow-gray.png) no-repeat center;
			}
		}
	}
	.categories-wrap {
		margin-top: 40px;
	} 
	.categories {
		box-sizing: border-box;
		.categories__head {
			cursor: pointer;
			padding-top: 8px;
			padding-left: 20px;
			padding-bottom: 8px;
			border: 1px solid #cad3df;
			border-radius: 3px 3px 0px 0px;
			position: relative;
			&.active {
				.categories__dropdown {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
			.categories__text,
			.categories__numbers,
			.categories__dropdown {
				display: inline-block;
				vertical-align: middle;
			}
			.categories__text {
				padding-left: 30px;
				position: relative;
				color: #374355;
				font-size: 11px;
				font-weight: 700;
				line-height: 18px;
				&:before {
					content: "";
					display: block;
					width: 20px;
					height: 14px;
					background-image: url(../img/category-ico.svg);
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					left: 0px;
					top: 50%;
					margin-top: -7px;
				}
			}
			.categories__numbers {
				font-family: $numbers_font;
				color: $white-color;
				font-size: 10px;
				font-weight: 300;
				width: 14px;
				line-height: 14px;
				text-align: center;
				border-radius: 20px;
				background-color: #d9241e;
			}
			.categories__dropdown {
				width: 20px;
				height: 20px;
				border: 1px solid #cad3df;
				border-radius: 20px;
				position: absolute;
				box-sizing: border-box;
				right: 20px;
				top: 50%;
				margin-top: -10px;
				&:after {
					content: "";
					display: block;
					width: 8px;
					height: 5px;
					background: url(../img/category-dropdown.png) no-repeat center;
					position: absolute;
					left: 50%;
					margin-left: -4px;
					top: 50%;
					margin-top: -2.5px;
					transition: all 0.2s linear;
				}
			}
		}
		.categories__list {
			padding: 20px;
			box-sizing: border-box;
			border-left: 1px solid #cad3df;
			border-right: 1px solid #cad3df;
			border-bottom: 1px solid #cad3df;
			.categories__list-row {
				margin-bottom: 17px;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	label {
		cursor: pointer;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 24px;
		color: #374355;
		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
		position: relative;
		letter-spacing: 0.5px;
		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			box-sizing: border-box;
			border: 1px solid #cad3df;
			position: absolute;
			left: 0px;
			top: 50%;
			margin-top: -10px;
		}
	}
	input[type="checkbox"] {
		display: none;
		&:checked + label:before {
			background: url(../img/check-ico.png) no-repeat center;
		}
	}
	.select__city {
		margin-top: 22px;
		.selectBox-dropdown {
			line-height: 35px;
			.selectBox-label {
				text-align: left;
				text-indent: 36px;
				color: #374355;
				font-size: 11px;
				font-weight: 700;
				line-height: 18px;
			}
			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 12px;
				background: url(../img/point-ico.png) no-repeat center;
				position: absolute;
				left: 20px;
				top: 50%;
				margin-top: -6.5px;
			}
			.selectBox-arrow {
				width: 60px;
				&:after {
					box-sizing: border-box;
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					border: 1px solid #cad3df;
					border-radius: 20px;
					position: absolute;
					left: 50%;
					margin-left: -9.5px;
					top: 50%;
					margin-top: -10.5px;
				}
			}
		}
	}
	//RANGE-SLIDER
	.range-slider {
		margin-top: 40px;
		cursor: pointer;
		width: 100%;
		.h3 {
			padding-bottom: 14px;
		}
		.ui-slider {
			.ui-slider-range {
				position: absolute;
				z-index: 1;
				font-size: .7em;
				display: block;
				border: 0;
				background-position: 0 0;
				top: 0;
				height: 100%;
				background-color: #459ddd;
				// background: rgba(255, 220, 177, 1);
				// background: linear-gradient(to right, rgb(255, 220, 177) 0%, rgba(242,156,95,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4d', endColorstr='#f29c5f', GradientType=1 );
			}
			.ui-slider-handle {
				position: absolute;
				z-index: 2;
				width: 15px;
				height: 15px;
				border-radius: 15px;
				cursor: default;
				-ms-touch-action: none;
				touch-action: none;
				top: -.3em;
				margin-left: -.6em;
				cursor: pointer;
				&:focus {
					outline: none;
				}
			}	
		}
		.ui-slider-horizontal {
			height: 7px;
		}
		.ui-state-default,
		.ui-widget-content .ui-state-default,
		.ui-widget-header .ui-state-default  {
			background-color: #459ddd;
			border-radius: 15px;
			font-weight: normal;
			color: #555555;
		}
		.ui-widget-content {
			margin-top: 20px;
			margin-left: 7px;
			border-radius: 4px;
			background-color: #cad3df;
			color: #222222;
			position: relative;
		}
		#amount, 
		#amount_1,
		.border,
		.currency, 
		.ok  {
			display: inline-block;
			vertical-align: middle;
		}
		#amount, #amount_1 {
			width: 80px;
			height: 20px;
			color: #374355;
			font-size: 11px;
			font-weight: 300;
			line-height: 18px;
			border-radius: 0px;
			border: 1px solid #cad3df;
		}
		.border {
			width: 5px;
			height: 1px;
			background: #cad3df;
		}
		.currency {
			color: #374355;
			font-size: 11px;
			font-weight: 300;
			line-height: 18px;
		}
		.ok {
			margin-left: 7px;
			cursor: pointer;
			padding: 0 8px;
			font-size: 11px;
			font-weight: 700;
			line-height: 20px;
			text-transform: uppercase;
			color: $white-color;
			background-color: #459ddd;
		} 
	}
}
/*-- CONTENT --*/
.main-page {
	display: none;
}
.content {
	padding-left: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-left: 1px solid #e4e9ef;
	width: 960px;
	position: relative;
	.project {
		cursor: pointer;
		margin-bottom: 50px;
		width: 300px;
		min-height: 445px;
		box-sizing: border-box;
		border-left: 1px solid #cad3df;
		border-right: 1px solid #cad3df;
		border-bottom: 1px solid #cad3df;
		float: left;
		margin-right: 30px;
		&:nth-child(3n + 1) {
			margin-right: auto;
		}
		.project__head {
			margin-left: -1px;
			margin-right: -1px;
			padding-left: 30px;
			background-color: #f69d35;
			line-height: 40px;
			&.project__head_color-orange {
				background-color: $orange-color;
			}
			&.project__head_color-lightOrange {
				background-color: $head-light-orange;
			}
			&.project__head_color-pink {
				background-color: $pink-color;
			}
			&.project__head_color-semiPink {
				background-color: $head-pink;
			}
			&.project__head_color-violet {
				background-color: $violet-color;
			}
			&.project__head_color-darkViolet {
				background-color: $head-dark-violet;
			}
			&.project__head_color-blue {
				background-color: $blue-color;
			}
			&.project__head_color-darkBlue {
				background-color: $head-dark-blue;
			}
			&.project__head_color-lightBlue {
				background-color: $head-light-blue;
			}
			&.project__head_color-green {
				background-color: $head-green-color;
			}
			&.project__head_color-lightGreen {
				background-color: $head-light-green;
			}
			&.project__head_color-darkGreen {
				background-color: $heaed-dark-green;
			}
			&.project__head_color-red {
				background-color: $red-color;
			}
			&.project__head_color-golden {
				background-color: $head-golden-color;
			}
			.project__head-ico,
			.project__head-text {
				display: inline-block;
				vertical-align: middle;
			}
			.project__head-ico {
				width: 26px;
				height: 26px;
				fill: $white-color;
			}
			.project__head-text {
				margin-left: 5px;
				color: $white-color;
				font-size: 12px;
				font-weight: 700;
				line-height: 14px;
				text-transform: uppercase;
				.new-line {
					display: block;
				}
			}
		}
		.project__content {
			padding: 37px 30px 24px 30px;
			box-sizing: border-box;
			.project__title {
				@extend .h2;
				padding-bottom: 10px;
				text-transform: none;
				white-space: pre-line;
				line-height: 18px;
			}
			.project__status_sale {
				margin-top: 17px;
				margin-bottom: 13px;
				display: block;
				color: #8493a8;
				font-size: 10px;
				font-weight: 700;
				line-height: 14px;
				text-transform: uppercase;
				letter-spacing: 0.5px;
			}
			.project__text {
				color: #8493a8;
				font-size: 12px;
				font-weight: 300;
				line-height: 13px;
			}
			.project__avtor {
				margin-top: 30px;
				.project__avtor-title {
					display: block;
					color: #8493a8;
					font-size: 10px;
					font-weight: 700;
					line-height: 14px;
					text-transform: uppercase;
				}
				.project__avtor-img,
				.project__avtor-text {
					display: inline-block;
					vertical-align: middle;
				} 
				.project__avtor-img {
					width: 30px;
					height: 30px;
					img {
						width: 100%;
						display: block;
					}
				}
				.project__avtor-text {
					margin-left: 4px;
					color: #8493a8;
					font-size: 12px;
					font-weight: 300;
					line-height: 13px;
				}
			}
			.project__status-block {
				margin-top: 17px;
				.project__status-block-row {
					padding-top: 12px;
					padding-bottom: 12px;
					border-top: 1px solid #cad3df;
					&:after {
						content: "";
						display: block;
						clear: both;
					}
					.project__status-block-text {
						float: left;
						color: #8493a8;
						font-size: 12px;
						font-weight: 700;
						line-height: 14px;
						text-transform: uppercase;
						letter-spacing: 0.5px;
					}
					.project__status-block-price {
						padding-left: 18px;
						display: block;
						position: relative;
						float: right;
						color: #374355;
						font-size: 14px;
						font-weight: 700;
						line-height: 14px;
						letter-spacing: 0.5px;
						&.thunder-ico {
							&:before {
								content: "";
								display: block;
								width: 8px;
								height: 14px;
								background: url(../img/projects-ico/thunder-ico.png) no-repeat center;
								position: absolute;
								left: 0px;
								top: 50%;
								margin-top: -7px;
							}
						}
						&.gramophone-ico {
							&:before {
								content: "";
								display: block;
								width: 11px;
								height: 12px;
								background: url(../img/projects-ico/gramophone-ico.png) no-repeat center;
								background-size: 11px 12px;
								position: absolute;
								left: 0px;
								top: 50%;
								margin-top: -7px;
							}
						}
					}
				}
			}
		}
	}
	.project__status {
		display: inline-block;
		vertical-align: top;
		border-radius: 9px;
		padding: 0px 8px;
		color: $white-color;
		font-size: 11px;
		font-weight: 700;
		line-height: 18px;
		&.project__status_done {
			background-color: $green-color; 
		}
		&.project__status_impossible {
			background-color: $impossible-color;
		}
		&.project__status_participated {
			background-color:  $participated-color;
		}
		&.project__status_rejected {
			background-color: $regected-color;
		}
	}
}
/*-- FOOTER --*/
.footer {
	.footer__nav-wrap {
		padding: 35px 0 30px 0;
		background: #374355;
	}
	.footer__nav {
		.footer__nav-item {
			margin-right: 15px;
			padding-right: 20px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			&:last-child {
				padding-right: 0px;
				margin-right: 0px;
				&:after {
					display: none;
				}
			}
			&:after {
				content: "";
				display: block;
				width: 1px;
				height: 15px;
				background: #459ddd;
				position: absolute;
				right: 0px;
				top: 50%;
				margin-top: -7.5px;
			}
			.footer__nav-link {
				color: $white-color;
				font-size: 12px;
				font-weight: 300;
				line-height: 24px;
				letter-spacing: 0.5px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.select__lang {
		margin-top: -6px;
		width: 200px;
		border-radius: 3px;
		border: 1px solid #54657e;
		box-sizing: border-box;
		.selectBox-dropdown {
			line-height: 35px;
			background-color: #3d4d65;
		}
		.selectBox-label {
			color: $white-color;
			font-size: 11px;
			font-weight: 300;
			line-height: 18px;
			position: relative;
			text-align: left;
			text-indent: 41px;
			&:before {
				content: "";
				display: block;
				width: 16px;
				height: 11px;
				background: url(../img/flag-ukr.png) no-repeat center;
				position: absolute;
				left: 20px;
				top: 50%;
				margin-top: -5.5px;
			}
		}
		.selectBox-arrow {
			background: url(../img/select-arrow-white.png) no-repeat center;
		}
	}
	.footer__bottom {
		padding: 12px 0;
		background-color: #3d4d65;
		text-align: center;
		.footer__bottom-text {
			color: #adb9ca;
			font-size: 11px;
			font-weight: 300;
			line-height: 12px;
			text-align: center;
			letter-spacing: 0.5px;
		}
	}
}
/*-- TEMPLATE --*/
.template {
	display: none;
	.content {
		padding-left: 0px;
		padding-right: 50px;
		width: 940px;
		border-left: 0px;
		border-right: 1px solid #e4e9ef;
	}
	.template__title {
		color: #374355;
		font-size: 30px;
		font-weight: 700;
		line-height: 32px;
		white-space: pre-line;
		position: relative;
		display: block;
		text-transform: none;
		letter-spacing: 1.5px;
	}
	.template__status  {
		@extend .project__status;
		letter-spacing: 0px;
		display: inline-block;
		vertical-align: middle;
	}
	.template__status_sale {
		margin-top: 18px;
		margin-bottom: 20px;
		color: #8493a8;
		font-size: 14px;
		font-weight: 300;
	}
	// TEMPLATE-PROJECT-DESCRIPTION
	.template__project-desctiption {
		margin-bottom: 50px;
		width: 930px;
		display: flex;
		align-items: stretch;
		border: 1px solid #cad3df;
		box-sizing:border-box;
		.template__project-desctiption-col {
			padding-top: 14px;
			padding-bottom: 10px;
			padding-left: 30px;
			padding-right: 10px;
			width: 33.33%;
			border-right: 1px solid #cad3df;
			box-sizing: border-box;
			&:last-child {
				border-right: 0px;
				.template__project-title  {
					margin-bottom: 8px;
				}
			}
			.template__project-title {
				margin-bottom: 5px;
				display: block;
				color: #8493a8;
				font-size: 12px;
				font-weight: 700;
				line-height: 14px;
				text-transform: uppercase;
			}
			.template__project__avtor-img,
			.template__project-ico-wrap,
			.template__project-text {
				display: inline-block;
				vertical-align: middle;
			}
			.bg-ico-color {
				&.orange {
					background-color: $orange-color;
				}
				&.lightOrange {
					background-color: $head-light-orange;
				}
				&.pink {
					background-color: $pink-color;
				}
				&.semiPink {
					background-color: $head-pink;
				}
				&.violet {
					background-color: $violet-color;
				}
				&.darkViolet {
					background-color: $head-dark-violet;
				}
				&.blue {
					background-color: $blue-color;
				}
				&.darkBlue {
					background-color: $head-dark-blue;
				}
				&.lightBlue {
					background-color: $head-light-blue;
				}
				&.green {
					background-color: $head-green-color;
				}
				&.lightGreen {
					background-color: $head-light-green;
				}
				&.darkGreen {
					background-color: $heaed-dark-green;
				}
				&.red {
					background-color: $red-color;
				}
				&.golden {
					background-color: $head-golden-color;
				}
			}
			.template__project__avtor-img {
				width: 30px;
				height: 30px;
				img {
					display: block;
					border-radius: 30px;
				}
			}
			.template__project-text {
				margin-left: 3px;
				letter-spacing: 0.5px;
				color: #8493a8;
				font-size: 13px;
				font-weight: 300;
				line-height: 13px;
			}
			.template__project-ico-wrap {
				width: 30px;
				height: 30px;
				border-radius: 30px;
				position: relative;
				.template__project-ico {
					width: 16px;
					height: 16px;
					fill: $white-color;
					position: absolute;
					left: 50%;
					margin-left: -8px;
					top: 50%;
					margin-top: -8px;
				}
			}
		}
	}
	// TEMPLATE-PROJECT-CONTENT
	.template__project-content {
		box-shadow: 10px 17.3px 60px rgba(202, 211, 223, 0.75);
		.project-info-text-block,
		.project-budget,
		.project-atribute__list,
		.project__files,
		.project-limits {
			padding-left: 30px;
			padding-right: 30px;
		}
		.project-tabs-wrap {
			display: flex;
			border: 1px solid #8493a8;
			box-sizing: border-box;
			.project-tab {
				cursor: pointer;
				width: 50%;
				text-align: center;
				&.active {
					background: #8493a8;
					.project-tab__text {
						color: $white-color;
					}
				}
				.project-tab__text {
					padding-left: 20px;
					color: #8493a8;
					font-size: 13px;
					font-weight: 700;
					line-height: 34px;
					position: relative;
					letter-spacing: 0.5px;
					&.info-ico:after {
						content: "";
						display: block;
						width: 16px;
						height: 16px;
						background: url(../img/info-ico.png) no-repeat center;
						position: absolute;
						left: 0px;
						top: 50%;
						margin-top: -9px;
					}
					&.time-ico:after {
						content: "";
						display: block;
						width: 8px;
						height: 12px;
						background: url(../img/time-ico.png) no-repeat center;
						position: absolute;
						left: 0px;
						top: 50%;
						margin-top: -7px;
					}
				}
			}
		}
	}
	// PROJECT-INFO-TEXT-BLOCK
	.project-info-text-block {
		padding-top: 50px;
		padding-right: 45px;
		padding-bottom: 45px;
		box-sizing: border-box;
		.project-info-col {
			margin-top: 5px;
			width: 49%;
			display: inline-block;
			vertical-align: top;
			.project-info-text__title  {
				padding-bottom: 0px;
			}
			.project-info-col__row {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	.project-info-text__title {
		padding-bottom: 13px;
		color: #8493a8;
		font-size: 12px;
		font-weight: 700;
		line-height: 14px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}
	.project-info-text {
		margin-bottom: 23px;
		color: #374355;
		font-size: 13px;
		font-weight: 300;
		line-height: 22px;
		letter-spacing: 0.65px;
	}
	.project-info-text-head {
		@extend .project-info-text;
		font-weight: 700;
		line-height: 14px;
		margin-bottom: 7px;
	}
	// PROJECT-BUDGET
	.project-budget {
		padding-top: 17px;
		padding-bottom: 17px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #eceff4;
		.project-info-text__title {
			padding-bottom: 5px;
		}
		.project-budget__number {
			color: #374355;
			font-size: 30px;
			font-weight: 700;
			line-height: 34px;
			letter-spacing: 0.5px;
		}
	}
}
//PROJECT ATRIBUTE
.project-atribute {
	.project-atribute__list {
		list-style: none;
	}
	.project-atribute__item {
		margin-right: 4px;
		display: inline-block;
		vertical-align: middle;
		&:last-child {
			.project-atribute__link {
				padding-right: 0px;
				&:after {
					display: none;
				}
			}
		}
		.project-atribute__link {
			color: #8493a8;
			font-size: 12px;
			font-weight: 700;
			line-height: 30px;
			text-transform: uppercase;
			list-style: none;
			text-decoration: none;
			position: relative;
			margin-right: 3px;
			padding-right: 8px;
			letter-spacing: 0.5px;
			&:after {
				transform: rotate(30deg);
				content: "";
				display: block;
				width: 1px;
				height: 12px;
				position: absolute;
				right: 0px;
				top: -2px;
				background-color: #8493a8;

			}
		}
	}
}
//PROJECT-SLIDER
.project-slider-wrap {
	margin-top: 10px;
	padding: 20px 0;
	position: relative;
	background-color: #eceff4;
	.project-slider {
		.project-slider__item {
			.img {
				img {
					display: block;
				}
			}
		}
	}
	.bx-wrapper {
		margin: 0 auto;
	}
	.bx-controls {
		.bx-pager  {
			display: none !important;
		}
		.bx-controls-direction {
			.bx-prev, .bx-next {
				font-size: 0px;
				position: absolute;
				top: 0px;
				display: block;
				width: 50px;
				height: 100%;
				background-color: #cad3df;
				transition: all 0.2s linear;
				&:hover {
					background-color: #8493a8;
				}
				&:before {
					content: "";
					display: block;
					width: 7px;
					height: 12px;
					background-image: url(../img/project-slider/slider-nav.svg);
					background-repeat: no-repeat;
					background-size: 7px 12px;
					background-position: center;
					position: absolute;
					left: 50%;
					margin-left: -3.5px;
					top: 50%;
					margin-top: -6px;
				}
			}
			.bx-prev {
				left: 30px;
				&:before {
					transform: rotate(180deg);
				}
			}
			.bx-next {
				right: 30px;
			}
		}
	}
}
//PROJECT-FILES
.project__files {
	padding-top: 50px;
	padding-bottom: 40px;
	&.project__files_solutions {
		padding-top: 0px;
		padding-bottom: 50px;
	}
	.project__files-row {
		margin-bottom: 12px;
		padding-bottom: 10px;
		border-bottom: 1px solid #8493a8;
	}
	.project__files-text {
		font-size: 13px;
		font-weight: 700;
		line-height: 16px;
		color: #bac928;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0.5px;
		.gray-color {
			color: #8493a8;
		}
	}
}
//PROJECT-LIMITS
.project-limits {
	padding-top: 25px;
	padding-bottom: 20px;
	background-color: #eceff4;
	box-sizing: border-box;
	.project-info-text {
		margin-bottom: 15px;
		line-height: 19px;
	}
}
/*-- PROJECT SUPPORT --*/
.project-support {
	.project-support__head {
		padding: 25px 0 15px 0;
		background-color: $head-green-color;
		text-align: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		&:first-child {
			border-radius: 3px 3px 0px 0px;
		}
		&:last-child {
			border-bottom: 0px;
		}
	}
	.project-support__head-text,
	.project-support__head-number {
		color: $white-color;
		text-transform: uppercase;
		display: block;
		letter-spacing: 0.5px;
	}
	.project-support__head-text {
		padding-bottom: 10px;
		font-size: 10px;
		font-weight: 700;
		line-height: 17px;
		white-space: pre-line;
	}
	.project-support__head-number {
		font-size: 30px;
		font-weight: 700;
		line-height: 24px;
	}
	.project-support__form {
		padding: 30px 20px;
		box-sizing: border-box;
		border-left: 1px solid #e4e9ef;
		border-right: 1px solid #e4e9ef;
		border-bottom: 1px solid #e4e9ef;
		.project-support__form-title {
			color: #374355;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;
		}
		.project-support__form-input {
			margin: 17px 0px;
		}
		.project-support__form-text {
			color: #8493a8;
			font-size: 10px;
			font-weight: 300;
			line-height: 15px;
		}
		.project-support__label {
			margin: 23px 0px;
			display: block;
			max-width: 190px;
			color: #374355;
			font-size: 12px;
			font-weight: 300;
			line-height: 18px;
			&:before {
				margin-top: 0px;
				top: 5px;
			}
		}
	}
}
/*-- SOCIAL-WRAP --*/
.socail-wrap {
	margin-top: 30px;
	.social-sprite {
		margin-top: 8px;
		display: flex;
		border-radius: 3px;
		overflow: hidden;
	}
	.social-sprite__ico-wrap {
		width: 25%;
		height: 36px;
		position: relative;
		&.twitter {
			background-color: #00aced;
		}
		&.vk {
			background-color: #4c75a3;
		}
		&.google {
			background-color: #e14d3a;
		}
		&.facebook {
			background-color: #3c5a99;
		}
		.social-sprite__ico {
			fill: $white-color;
			width: 16px;
			height: 16px;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			top: 50%;
			margin-top: -8px;
		}
	}
}
/*-- RESPONSIVE STYLES --*/
@import 'responsive';















