 /*---VARIABLES---*/
  $main_font:'GothamPro', sans-serif;
  $numbers_font: 'ProximaNova-Light', sans-serif;

  /*---COLORS-VARIABLES---*/
  $titles-color: #374355;
  $white-color:#fff;
  $green-color: #04be5b;
  $orange-color: #f69d35;
  $violet-color: #7740a2;
  $pink-color: #e2548d;
  $blue-color: #2388d9;
  $red-color: #ef2840;

  $head-green-color: #bac928;
  $head-light-green: #00d4c3;
  $heaed-dark-green: #00b06c;
  $head-light-blue: #63c3dc;
  $head-dark-blue: #0644a0;
  $head-light-orange: #ff916f;
  $head-pink: #9c4a96;
  $head-dark-violet: #762265;
  $head-golden-color: #b3ac7a;

  $participated-color: #459ddd;
  $impossible-color: #8493a8;
  $regected-color: #969fa8;
